provider "azurerm" {
  subscription_id = "xxx"
  client_id       = "xxx"
  client_secret   = "xxx"
  tenant_id       = "xxx"
  version         = "~> 1.23"
}

terraform {
  backend "azurerm" {
    storage_account_name = "tiexintfstatedev"
    container_name       = "terraform-state"
    key                  = "terraform.tfstate"
    access_key           = "xxx"
  }
}
